<% include ./partials/header %>

 <div class="col-xs-3 wins ">
  
       <button class="btn-warning" id="stats"><a href="/scores">High Scores</a></button>
  </div>
    
  <div class="col-xs-6 text-center">
  <%if(user){%>
  <h1><%=user.score%></h1>
  <%}else{%>
  <h1>no user!</h1>
  <%}%>
      <form id="form">
      <label for="input">Guess this song: </label>
      <input type="text" name="input" id="input">
    </form>
    
    <div class="info text-center" style="display: none" id="answer">
       <div class="word-bubble">
        <h1><span id="artistName"></span></h1>
           <div class="poster">
              <img src="<%=song.artworkUrl100%>" alt="">
           </div> 
            <h2 id="guess"></h2>
            <h5 id="artist"><%=song.artistName%></h5>
            <h5 id="track"><%=song.trackName%></h5>
            <h5 id="album"><%=song.collectionName%></h5>
      </div>
    </div>
      <br>
      <br>
    <form action="/songs?_method=put" method="POST" id="hiddenForm">
      <input type="hidden" name="score[name]" value="" id="scoreName">
      <input type="hidden" name="score[score]" value="" id="scoreScore">
      <input type="hidden" name="nextsong" value="true" id="nextSong">
        <button class="btn-warning btn-lg text-cen" id="button">PLAY</button>
    </form>
  </div>
  

  <div class="col-xs-3">
    <audio id="audio_preview" src="<%=song.previewUrl%>"></audio> 
  </div> 

<!-- HIDDEN FORM: send to a put  -->







<% include ./partials/footer %>